.custom-input-group .form-control,
.custom-input-group .input-group-text {
  border-radius: 20px;
}

.custom-input-group .form-control,
.custom-input-group .input-group-text {
  border: none;
  outline: none;
  background-color: white;
}
.custom-input-group .form-control:focus {
  border: none;
  outline: none;
}

.nav-icons {
  padding-left: 100px !important;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 80px;
  overflow: hidden;
}

.icons {
  display: flex;
  align-items: center;
}
.icons > .icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgba(174, 174, 174, 0.219);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
