.higlight-text {
  text-align: center;
}

ul.list-unstyled {
  padding: 0;
  margin: 0;
}

ul.list-unstyled li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

ul.list-unstyled li i {
  margin-right: 10px;
}

.list-group-item a {
  text-decoration: none;
  color: inherit;
}
.list-group-item {
  border: none !important;
}
.list-group-item a:hover {
  text-decoration: none;
}

span {
  margin-left: 20px;
}

.card-body {
  padding: 20px !important;
}
