.cover-img-wrapper img {
  width: 100% !important;
  height: 300px;
  object-fit: cover;
}

.profile-section {
  padding: 20px;
  text-align: center;
}
.profile {
  position: absolute;
  top: 590px;
  left: 30%;
  transform: translateX(-50%);
  z-index: 1;
  width: 150px;
  height: 150px;
  border: 3px solid rgb(215, 212, 212);
}
.profile-section h1 {
  margin-bottom: 20px;
}

.nav-tab {
  margin-top: 20px;
}

.main-body .row-one,
.main-body .row-two {
  margin-top: 20px;
}
